<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>Booking web page</title>
            <meta charset="utf-8"> 
            <meta name="description" content="My events" />
            <meta name="author" content="Erick Ayala" />
            <meta name="keywords"content="My events" />
            <link rel="stylesheet" href="styles.css" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Event List</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'events/site.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if object %}
        Edit Event 
        {% else %} 
        Book an event 
        {% endif %}
    </title>
</head>
<body>
    <h1>Zoo</a></h1>
    {% load static %} <img src="{% static "events/media/aquiles.png" %}" alt="home" />
    <h3>{% if object %}
        Edit Event 
        {% else %} 
        Book New Event 
        {% endif %}
    </h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" class="btn btn-success" value="Submit"></p>
        </form>
</body>
</html>